<h1 style="text-align:center">Hello! I'm dfe!</h1>
<p><br>hi! I make stuff!</p>
<p>welcome to my corner of the internet! I go by diflouroethane or dfe for short, I like programming, making games and other software. enjoy my website! :D</p>


<p style="text-align:center"><a href="./portfolio" title="pretty barebones currently lol">portfolio</a> | <a href="./blog" title="i write sometimes">blog</a> | <a href="https://github.com/diflouroethane" title="my github (warning: a graveyard of abandoned projects lies ahead...)">github</p></a>
<i>hover either for more info</i>

